<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FangGongXin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1882D3B01F70C0BA001812E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1882D3C91F70C0BA001812E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1882D3D41F70C0BA001812E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
